*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.5s ease-out;
}

header
{
	margin: 2px;
}

header h1
{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav
{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h4
{
  padding: 0 2rem;
}

nav h4:nth-child(1)
{
  border-right: 1px solid #333;
}

main
{
 	width: 100%;
	padding: 6px;
}

form
{
	background: #91A7B6;
	padding: 10px 6px;
}

input, textarea {
	margin-top: 1.4rem;
}

ul
{
	list-style: none;
	/*border: 2px solid #00333F;*/
	background: #91A7B6;
	width: 100%;
	min-height: 49vh;
	margin-top: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

li h3
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #00333F;
	margin-bottom: 1rem;
}

li.todoItem
{
	border: 1px solid #91A7B6;
	background: #00333F;
	color: #fff;
	height: 63px;
	width: 96%;
	margin-bottom: 0.7rem;
	display: grid;
	grid-template: repeat(63, 1px) / repeat(100, 1fr);
}

li.todoItem.expand
{
	height: 96%;
	margin-bottom: 0.7rem;
	display: block;
}

li .check
{
	border: 1px solid #00333F;
	background: #91A7B6;
	width: 33px;
	height: 33px;
	font-size: 400%;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 4/15;
	grid-row: 15/-1;
}

li.todoItem.expand .check
{
	display: none;
}

.check .line
{
	height: 3px;
}

.check .line.line1
{
	width: 10px;
	transform: rotate(45deg);
}

.check .line.line2
{
	width: 25px;
	transform: rotate(-45deg) translate(-1.9px, -4.5px) ;
}

li .deleteBtn
{
	width: 26px;
	height: 26px;
	border-radius: 50%;
	display: flex;
  align-items: center;
  justify-content: center;
	grid-column: 89/-1;
	grid-row: 19/-1;
}

li.todoItem.expand .deleteBtn
{
	display: none;
}

li .title
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	grid-column: 11/89;
	grid-row: 7/30;
}

li .description
{
	opacity: 0;
	position: absolute;
	transform: translate(0, -10%);
	z-index: -6;
}

li.todoItem.expand .description
{
	opacity: 1;
	position: relative;
	transform: translate(0, 0);
	text-align: center;
	z-index: 1;
}

li .created
{
	border-radius: 50%;
	display: flex;
  align-items: center;
  justify-content: center;
	grid-column: 11/89;
	grid-row: auto/50;
}

footer
{
  display: flex;
  align-items: center;
  justify-content: center;
}